openai
torch    
pandas
numpy<2.0                
fastapi
uvicorn[standard]==0.24.0
yt_dlp
python-dotenv
python-multipart==0.0.9
google-generativeai==0.5.2
pydantic>=2
playwright
google-api-python-client
